@model EPRN.Portal.ViewModels.JourneySubWasteTypesViewModel;
@inject ILocalizationHelper<WasteTypesResources> localizationHelper

@{
    ViewData["Title"] = @SubWasteTypesResources.SubWasteTypeOptionsTitle;
}

<a href="/" class="govuk-back-link">@MasterResources.Back</a>

<form method="post">
    <input type="hidden" asp-for="JourneyId" />
    <partial name="_ValidationSummary" />

    <radios id="SelectedSubWasteTypeId" asp-for="SelectedSubWasteTypeId" asp-title="@SubWasteTypesResources.SubWasteTypeOptionsTitle">
        <p class="govuk-error-message">
            <span asp-validation-for="SelectedSubWasteTypeId"></span>
        </p>
        @foreach (var subWasteType in Model.SubWasteTypes)
        {
            if (subWasteType.Name.ToUpper() != "OTHER")
            {
                <div class="govuk-radios__item">
                    <input class="govuk-radios__input" type="radio" asp-for="SelectedSubWasteTypeId" value="@subWasteType.Id" checked="@subWasteType.IsSelected">
                    <input type="hidden" asp-for="Adjustment" value="@subWasteType.Adjustment">
                    <label class="govuk-label govuk-radios__label" for="@subWasteType.Id">
                    @localizationHelper.GetString(subWasteType.Name)
                </label>
                </div>
            }
            else
            {
                <div class="govuk-radios__item">
                    <span>@localizationHelper.GetString(@subWasteType.Name)</span>
                    <input class="govuk-radios__input" type="radio" asp-for="SelectedSubWasteTypeId" value="@subWasteType.Id">
                    <input type="hidden" asp-for="Adjustment" value="@subWasteType.Adjustment">
                    @if (subWasteType.IsSelected)
                    {
                        <input class="govuk-input" type="input" asp-for="Adjustment" value="@Model.Adjustment">
                    }
                    else
                    {
                        <input class="govuk-input" type="input" asp-for="Adjustment" value="">
                    }
                </div>
            }
        }
    </radios>

    <button class="govuk-button" data-module="govuk-button" type="submit">
        @MasterResources.ContinueBtn
    </button>
</form>